$breakpoint-xs: 375px;
$breakpoint-md: 768px;
$breakpoint-lg: 1440px;

@mixin media($media) {
    @if ($media == xs) {
        @media only screen and (min-width: $breakpoint-xs) {
            @content;
        }
    }

    @if ($media == md) {
        @media only screen and (min-width: $breakpoint-md) {
            @content;
        }
    }

    @if ($media == lg) {
        @media only screen and (min-width: $breakpoint-lg) {
            @content;
        }
    }
}