.post-detail {
  max-width: 700px;
  margin: 0 auto;

  background-color: $c-white;
  border: 1px solid $c-gray;

  ul > li:nth-child(even) {
    background-color: $c-white;
  }

  &__content {
    padding: 5rem 2rem;
  }

  &__title {
    margin-bottom: 0.5rem;

    text-transform: uppercase;
    font-weight: 700;
  }
}
