.post-comment {
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;

    background-color: $c-gray;
    border-top: 1px solid $c-gray;

    &__author {
        font-weight: 700;
    }

    &__content {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

}