<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="<%= htmlWebpackPlugin.options.publicPath %>favicon.ico" />
    <link rel="preload" as="font" href="/fonts/lato-regular.woff2" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div>
        <div id="root"></div>
    </div>
</body>
</html>