.post-card {
  width: 100%;
  margin: 2rem 0;
  padding: 1rem;
  min-height: 60px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  background-color: $c-white;
  border: 3px solid $c-black;
  text-align: left;

  &:hover {
    box-shadow: 2px 2px 2px 2px $c-black;
  }

  &__title {
    font-weight: 700;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  &__summary {
    width: 90%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
  }
}
